*~
*.bak
*.cache*
*.log
*.orig
*.pysave
*.swp
._*
.CFUserTextEncoding
.DS_Store
.Xauthority
.MacOSX
.Trash
.account
.adobe
.agimoinrc
*.macports-saved*
.bash_history
.cpan
.crv2008
.cups
.dropbox
.eclipse_keyring
.exchange*
.gdb_history
.gem
.git
.gitk
.gmail
.gnupg
.idlerc
.keystore
.lesshst
.mbsync*
.netrwhist
.pip_download_cache
.pivotal*
.python-eggs
.pythonhist
.rnd
.ssh
.viminfo
.virtualenvs/envs
.virtualenvs/logs
Code
Desktop
Documents
Dropbox
Downloads
Library
Logitech
Movies
Music
Pictures
Public
Sites
bin
code
iOS
isus
mbox
src
