[user]
	name = Mike Pirnat
	email = mpirnat@gmail.com
[core]
	autocrlf = input
	safecrlf = true
    excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
    ca = commit --amend --reuse-message=HEAD
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
    who = shortlog -s --
    up = svn rebase
    update = svn rebase
    cherry-pick-svn = !GIT_EDITOR='sed -i /^git-svn-id:/d' git cherry-pick -e
    branch-svn = svn branch
    merge-svn = merge --squash
    push-svn = svn dcommit
    graph = log --graph --all --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    dif = diff
    latest = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
    done = "!f() { git branch -m $1 DONE-$1; }; f"
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"

[color]
	ui = true
