*~
*.bak
*.cache*
*.log
*.orig
*.pysave
*.swp
._*
.CFUserTextEncoding
.MacOSX
.Trash
.bash_history
.cups
.dropbox
.git
.gitk
.idlerc
.lesshst
.python-eggs
.pythonhist
.rnd
.ssh
.viminfo
Desktop
Documents
Dropbox
Downloads
Library
Logitech
Movies
Music
Pictures
Public
Sites
