*~
*.bak
*.cache*
*.log
*.orig
*.pysave
*.swp
._*
.CFUserTextEncoding
.DS_Store
.Xauthority
.MacOSX
.Trash
.account
.agimoinrc
*.macports-saved*
.bash_history
.crv2008
.cups
.dropbox
.eclipse_keyring
.exchange*
.gdb_history
.gmail
.git
.gitk
.idlerc
.keystore
.lesshst
.mbsync*
.pivotal*
.python-eggs
.pythonhist
.rnd
.ssh
.viminfo
Desktop
Documents
Dropbox
Downloads
Library
Logitech
Movies
Music
Pictures
Public
Sites
bin
iOS
isus
mbox
src
